{:paths [] ; no src or resources

 :deps {org.clojure/clojure {:mvn/version "1.10.3"}
        poly/component-greeter {:local/root "../../components/greeter"}}

 :aliases
 {:test {:extra-paths []
         :extra-deps {}}

  :build {:deps {io.github.seancorfield/build-clj
                 {:git/tag "v0.6.4" :git/sha "c21cfde"}}
          :ns-default build}}}
